body {
	background-color: lightgrey;
}

h1 {
	display: block;
    font-family: "Antic Slab", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: bold;
    text-align: center;
}

h2 {
	font-size: 25px;
    font-family: "Antic Slab", Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
	display: block;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1em;
}

button {
    padding:15px;
    background:#00b2ff;
    border:0px;
    color:#fcfcfc;
    padding-left:25px;
    padding-right:25px;
    cursor:pointer;
}

button:hover {
    background:#000000;
}

#content {
    width: 70%;
    margin-left: 15%;
    background-color: white;
    height: 700px;
    box-shadow: 7px 7px 3px grey;
    border: 2px solid grey;
}

 #nav {
   display: block;
   margin-left: 25%;
}

#content_1, #content_2, #content_3, #content_4 {
    margin-left: 5%;
}

.mainImage {
    width: 700px;
    height: auto;
}
