<html>
<header>
	<link rel="stylesheet" type="text/css" href="helloStyle.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	 <meta name="viewport" content="width=device-width">

	<title>Jason Christensen</title>

</header>
<body>
	<div id="content">
  		<h1>Introduction</h1>
  		
  		<img class="mainImage" alt="cover" src="images/pic1.jpg">
  		
  		<div id="nav">
  			<button ng-click="selectOne()">Family</button>
  			<button ng-click="selectTwo()">Work</button>
  			<button id="school">School</button>
  			<button id="hobbies">Hobbies</button>
  			<button id="assignments">Assignments</button>
  		</div>

  		<div ng-show="myVarOne">
  			<p>I come from a family of 8. We have 3 boys and 3 girls. All of the boy names start with "J" and all of the girl names start with "H". So that is kind of weird, but it is fun.</p>

  			<p>I am from Shelley, Idaho, born and raised. My wife and I currently live in Shelley. We have been married for 1 1/2 years now. We are excited for welcome our first child into our family in February.<p>
  		</div>

  		<div ng-show="myVarTwo">
  			<p>I am currently working at a company in Idaho Falls. My job self described job title is Documentation Architect, which is a fancy way of saying I organize the technical documents for the machines.</p>

  			<p>Most of my previous work experience has had nothing to do with software or writing code. The closest thing to it that I have done is working on a company's website, but even that was with WordPress. So I look forward to doing an internship to get applicable experience.</p>
  		</div>

  		<div id="content_3">
  			<p>This is the second semester of my junior year. So I have about a year left until I am done. I started out as a mechanical engineering major, but I am much more computer oriented than mechanical, so I switched after a semester or two.</p>

  			<p>I am completely convinced that I am in the coolest degree there is. I am excited to be able to start a career in the field. I hope to be able to do something with databases, even though I am not great with writing SQL, it is something I really enjoy.</p>
  		</div>

  		<div id="content_4">
  			<p>Sports is a big part of my life. I have become more of a spectator in the past couple of years but still love them the same. I like watching the Utah Jazz, even though they haven't made the playoffs in a while. I have jumped on the Golden States Warriors' band wagon these past two seasons. My football team is the Pittsburgh Steelers. My family has somewhat of an unhealthy obsession with the Steelers.</p>

  			<p>When I get the chance, I love to play both basketball and football. I have also been trying to get better at golf, but have not been successful up to this point.</p>
  		</div>

  	</div>

    <script>
angular.module('myApp', []).controller('demoCtrl', function($scope, $location) {
  $scope.myVarOne = false;
  $scope.myVarTwo = false;
  $scope.myVarThree = false;
  $scope.myVarFour = false;

  $scope.selectOne = function() {
        $scope.myVarOne = !$scope.myVarOne;
        $scope.myVarTwo = false;
        $scope.myVarThree = false;
        $scope.myVarFour = false;
  };
  $scope.selectTwo = function() {
        $scope.myVarTwo = !$scope.myVarTwo;
        $scope.myVarOne = false;
        $scope.myVarThree = false;
        $scope.myVarFour = false;
         $scope.products = ["C++", "Java", "PHP"];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "The item is already in your list.";
        }
    }
    $scope.removeItem = function (x) {
        $scope.errortext = "";
        $scope.products.splice(x, 1);
    } 
  };
  $scope.selectThree = function() {
        $scope.myVarThree = !$scope.myVarThree;
        $scope.myVarTwo = false;
        $scope.myVarOne = false;
        $scope.myVarFour = false;
  };
  $scope.selectFour = function() {
        $scope.myVarFour = !$scope.myVarFour;
        $scope.myVarTwo = false;
        $scope.myVarThree = false;
        $scope.myVarOne = false;
  };
  $scope.myUrl = $location.absUrl();
});
</script>


  
</body>
</html>
